/* STYLE FOR ALL PAGES */
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
/* STYLE FOR HTML */
html {
  position: relative;
  min-height: 100%;
}

/* STYLE FOR BODY */
body {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  
}
/* STYLE FOR H1 */
h1{
  text-align: center;
  margin-bottom: 15px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  
}
/* STYLE FOR H3 */
h3{
  text-align: center;
  margin-bottom: 15px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  
}
/* STYLE FOR LINKS */
a{
  color: #70a8dd;
  font-weight: bold;
  text-decoration: none;
}
/* STYLE FOR P */
p{
  margin: 10px 0;
}
/* STYLE FOR CONTAINER */
#conteiner{
  display: flex;
  flex-direction: column;
   
}
/* FORM STYLE */
form{
  display: flex;
  flex-direction: column;
  width: 400px;
}
/* STYLE FOR INPUT*/
input {
  margin: 10px;
  padding: 5px;
  border: unset;
  border-bottom: 2px solid #e3e3e3;
  outline: none;

}
/* STYLE FOR LABEL */
label{
  margin-bottom: 5px;
  padding: 5px;
}
/*  BUTTON STYLE */
button{
  margin-bottom: 5px;
  padding: 5px;
  background-color: #e3e3e3;;
  border: unset;
  cursor: pointer;

}
/* STYLE FOR CLASS MSG */
.msg {
  border:2px solid #f1933a;
  border-radius:3px;
  padding: 10px;
  text-align: center;
  font-weight: bold;

}
/* STYLE FOR CLASS AVATAR */
.avatar{
 
  display: block;
  margin: 0 auto;

}
/* STYLE FOR CLASS LOGOUT */
.logout{
  color: #1d1644;
  text-align: ce;
}



/********************* footer style****************************/
footer{

  background:#70a8dd;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    
  }

          
.foot-class p{
  text-align: center;
  padding: 5px 10px;        
  font-size:18px;
  color:#fff;
 }
          
 .foot-class p a {
  font-size: 18px;
  color:rgb(44, 38, 29);
  letter-spacing: 1px;
  transition: .4s;
 }
 .foot-class p a:hover {
  color: #000;
  text-decoration: underline;
  padding-top: 4px;
  font-weight: 700;
 }





/* ************************* SELECT STYLE***************************/

.styled-select select {
  background: transparent;
  width: 268px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  border: unset;
  outline: none;
}
.styled-select {
  width: 240px;
  height: 34px;
  overflow: hidden;
  background: url(http://dnzl.ru/images/select_css/back_arrow.png) no-repeat right #ddd;
}





  /* style for button on registration.php, chenging default text in uppload button to personal  */
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Account Image';
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }



   /* ***********************profile card style***************************/
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;    
    text-align: center;
} 

.title {
    color: grey;
    font-size: 18px;
}

.logout-a{
  font-size: 20px;
  color: #70a8dd;
}

.card a {
  color: grey;
  font-size: 18px;
  
}

button:hover, a:hover {
    opacity: 0.7;
}



/************************side bar style**************************/
.sidenav {
  height: 90%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(101, 135, 179); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #242020;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 200px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/*logout side bar*/
.sidebar-a{
  position:absolute;
  padding: 8px 0;
  bottom:0;
  width:100%;
  height:50px;
  background:rgb(77, 106, 145);
  font-size:40px;
  color:white;
  
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
 
}


/*********************** news block *********************/
#news {
  height: 100vh;
  overflow: auto;
  margin-left: 210px; 
  margin-right: 120px; 
  margin-bottom: 100px;
}
#news h1{
  margin-top: 150px; 

}
#news h2{
  margin-bottom: -15px;
  color: #1b0c74;
}
#news p{
 
  color: #1b4b21;
}

/********************** profile card from right size**********************/
#side-card{
  height:70%;
  width: 100px;
  position: absolute;
  right: 0;
  font-size: 5px;
  
}
#side-card p{
  padding: 6px 8px 6px 16px;
    font-size: 10px;
}
#side-card a{
  
  font-size: 10px;
}
#side-card img{
  padding: 6px 8px 6px 16px;
  width: 100px;
  
}